---
layout: layout.liquid
title: Everyday Carry 
---

<h1> Molly's Everyday Carry </h1>
<h2>Things I Never Leave Home Without</h2>

<ul>
  <li><a href="/keys/">keys</a></li>
  <li><a href="/gum/">gum</a></li>
  <li><a href="/sunglasses/">sunglasses</a></li>
</ul>